<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/estilo.css">
    <title>Sobre Nós</title>
</head>
<body>
    <h1>{{ Banana2 }}</h1>
    <div class="card">
    <p>O Dia Mundial do Macaco, celebrado em 14 de dezembro, busca conscientizar sobre a importância dos macacos no ecossistema e a necessidade de protegê-los. A data destaca a diversidade das espécies, sua inteligência e os desafios que enfrentam, como a perda de habitat e a caça. Organizações promovem atividades educativas e campanhas de conservação para proteger essas espécies ameaçadas.


</p>
    <p>Esperamos que você aproveite o aprendizado e se divirta ao mesmo tempo!</p>
    </div>
    <a href="/">Voltar à Página Inicial</a>
</body>
</html>